/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2016, 8:20:28 PM
    Author     : apprentice
*/

html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 70px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}


.well {
    white-space: normal;
    word-wrap: break-word;
}

.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}


.tile {
    height: 10px;
}
.grid {
    margin-top: 1em;

}


/*
.panel-body {
    white-space: normal;
    word-wrap: break-word;
}

this breaks the sidebars; check sidebar functionality before reinstating

*/ 

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {

    .row-offcanvas {
        position: relative;
        -webkit-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-left
    #sidebarLeft {
        left: -40%;
    }

    .row-offcanvas-left.active {
        left: 40%;
    }

    .row-offcanvas-right 
    #sidebarRight {
        right: -40%;
    }

    .row-offcanvas-right.active {
        right: 40%;
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 40%;
        margin-left: 10px;
    }
}
